* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
        
        
        
        .box{
            width: 400px;
            height: 400px;
            background-color: aqua;
            border-radius:50%;  
        }

        .rectangukar-box{
            width: 400px;
            height: 400px;
            background-color: blue;
        }

        /* #rounded-img{
            width: 200px;
            height: 200px;
            border-radius: 200px;
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 200px;
        } */
        .rounded-img{
            width: 200px;
            height: 200px;
            border-radius: 200px;
        }
        * {
            color: blue;
        }
        .flex-container{
            display: felx;

        }
        .flex-item{
            flex: 1 1 100px;
        }